body {
  background-color: #5db37b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-size: 20px; */
}

.card {
  background-color: white;
  width: 350px;
  max-width: 80%;
  border-radius: 5px;
  /* SE PUEDE CENTRAR CON 'margin: 0 auto' o con
  // 'postion: absolute; left 50%; transform: translateX(-50%);*/
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  margin: 0 auto;
  padding: 30px;
}

.card__photoNameRating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  color: #5db37b;
  font-size: 1.1rem;
}

.card__photoNameRating__image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid white;
  outline: 3px solid#5db37b;
  object-fit: cover;
  align-self: center;
  margin-bottom: 10px;
}

.card__photoNameRating__name {
  align-self: center;
  margin: 5px;
}

.card__photoNameRating__estrellas {
  display: flex;
  justify-content: center;
}

.card__photoNameRating__estrellas--selected {
  width: 16px;
  height: 16px;
  background: #5db37b;
  border-radius: 50%;
  margin: 0 3px;
}

.card__photoNameRating__estrellas--blank {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  border: 1px solid #5db37b;
  margin: 0 3px;
}

.card__description {
  text-align: justify;
  font-size: 17px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.card__buttons__button--normal {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #5db37b;
  color: #5db37b;
  padding: 10px 30px;
  flex-basis: 49%;
  font-size: inherit;
}

.card__buttons__button--selected {
  background-color: #5db37b;
  border-radius: 5px;
  border: 2px solid #5db37b;
  color: white;
  padding: 10px 30px;
  flex-basis: 49%;
  font-size: inherit;
}
